.stargazers-grid-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border: 1px solid grey;
  background-color: lightseagreen;
  width: 60%;
  text-align: center;
}
.stargazers__section {
  display: flex;
  flex-direction: column;
}
.stargazers__title {
  font-size: 1em;
  text-transform: capitalize;
}
.accordian {
  background-color: #ccc;
  cursor: pointer;
  padding: 15px;
  display: flex;
  border: none;
  outline: none;
  margin: 10px;
}
.active {
  background-color: grey;
}
.accordian__content {
  background-color: white;
  overflow: hidden;
}
